.main_container {
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    padding: 100px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }